<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Animal Combination Generator</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h2>Choose Two Animals</h2>
        <form action="/generate" method="post">
            Animal 1: <input type="text" name="animal1"><br>
            Animal 2: <input type="text" name="animal2"><br>
            <input type="submit" value="Generate">
        </form>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
